doctype html
head
  title 关于博主
  meta(charset="utf-8")
  meta(name="author",chontent="yujian")
  link(rel="stylesheet", href="/css/about-up.css")
  
body
  #wrap
    .part1.part
      .img1
        //- img(src="/img/about-up/1-2.png",width='630',height='250',alt="")
    .part2.part
      .img1
        //- img(src="/img/about-up/2-2.png",width='630',height='250',alt="")
    .part3.part
      .img1
        //- img(src="/img/about-up/3-2.png",width='630',height='250',alt="")
    .part4.part
    .part5.part
    .part6.part
    .part7.part
  
  #slide
    ul
      li
      li
      li
      li
      li
      li
      li

  #ce-nav
    ul
      li
      li
      li
      li
      li
      li

  script(src="/js/jquery-1.11.3.min.js")
  script(src="/js/jquery.mousewheel.js")
  script(src="/js/about-up.js")