/* 
  文章列表 背景色
 */
 .layui-col-space15{
  margin-right: -22px;
  margin-left: -22px;
}
.layui-col-space15 .layui-col-md8{
  border-radius: 2px;
  /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.05); */
  padding-bottom: 0;
}



/*文章列表*/

.article-list li {
  position: relative;
  padding: 86px 42px 86px 55px;
  margin: 20px 0;
  border-bottom: 1px dotted #e2e2e2;
  background-color: #fff;
  font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
}
.article-list li:hover{
  border-radius: 4px;
  box-shadow: 1px 3px 9px #ccc;
  transition: .3s;
}

.layui-col-md8 .lun_padding{
  padding: 6px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}
.article-list li::after {
  content: '';
  clear: both;  
}

.list-face {
  position: absolute;
  bottom: 13%;
  left: 2%;
}

/*文章列表头像*/

.article-list img {
  display: block;
  width: 31px;
  height: 31px;
  margin: 0;
  border-radius: 15%;
}

.article-list h2 {
  position: absolute;
  top: 13%;
  left: 2%;
  font-size: 0;
  height: 38px;
  width: 68%;
}

.articlt-title {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.article-list h2 a {
  display: inline-block;
  font-size: 25px;
 
}

.article-list h2 a:nth-of-type(1) {
  margin-right: 16px;
  padding-top: 5px;
    padding-bottom: 7px;
}

.article-list h2 a:nth-of-type(2) {
  height: 100%;
  font-size: 27px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-list li:hover a:nth-of-type(2){
  color: #ef5454;
}
.article-list h2 .layui-badge {
  padding-bottom: 2px;
  margin-top: 1%;
}

/*描述*/

.list-info {
  position: absolute;
  bottom: 16%;
  left: 7.5%;
  width: 89%;
  font-size: 15px;
}

.list-info * {
  padding-right: 10px;
  color:#8f8484;
}

.list-info a:nth-of-type(1){
  margin-right: 1%;
}

.article-list .list-content{
  position: absolute;
  top: 42%;
  left: 2%;
  width: 92%;
  height: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.article-list .list-content a{
  color: #8a8a8a;
}

.list-reply {
  float: right;
  margin-top: 3px;
}

/* 轮播图 */
.layui-container .layui-col-md8  .layui-carousel div {
  border-radius: 4px;
}

 /* 主页 nav */
 .layui-nav .layui-nav-item:nth-child(1) > a{
   margin: 0 12px;
   /* padding:0 30px; */
  }
 .layui-nav .layui-nav-item:nth-child(2) > a{
   margin: 0 22px;
   /* padding:0 20px; */
  }
 .layui-nav .layui-nav-item:nth-child(3) > a{
   margin: 0 12px;
   /* padding:0 20px; */
  }
 .layui-nav .layui-nav-item:nth-child(4) > a{
   margin: 0 22px;
   /* padding:0 20px; */
  }
 .layui-nav .layui-nav-item:nth-child(5) > a{
   margin: 0 12px;
   /* padding:0 20px; */
  }
 .layui-nav .layui-nav-item:nth-child(6) > a{
   margin: 0 12px;
   /* padding:0 20px; */
  }

