.footer(style:'position:relative; top: 532px; left: 0px;')
  .foot-links.clearfix
    p.foot-topIinks
      a(href='#') 联系我们
      a(href='#') 网站地图
      a(href='#') 意见反馈
      a(href='#') 访客留言 
  .foot-info    
    |馆址:江门市蓬江区潮连大道6号
    br
    |联系电话:010-110
    br
    a(href="#") 版权所有 | 
    a(href="#") 隐私保护
    br
    |2018 © 江ICP备xxxxxxxx号 江公网安备xxxxxxxxxx号
  
  .foot-adorn
    li.adorn-1
    li.adorn-2
    li.adorn-3
    li.adorn-4
    li.adorn-5
    li.adorn-6
    li.adorn-6
    